:root{
    --button-color: #ff0000;
} 

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

button {
    background-color: var(--button-color);
   /* By Teacher: CSS variable button-color is not defined in root pseudo class */
}
